<!--<!DOCTYPE HTML>-->
<!--<html lang="ro" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->

<!--    <link rel="icon" type="images/ico" th:href="@{/images/favicon.ico}"/>-->

<!--    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"-->
<!--          rel="stylesheet"/>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"-->
<!--            th:href="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}">-->
<!--    </script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"-->
<!--            th:href="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}">-->
<!--    </script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"-->
<!--            th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}">-->
<!--    </script>-->

<!--    <link th:href="@{/css/styles.css}" rel="stylesheet"/>-->

<!--</head>-->
<!--<body>-->

<!--<div th:replace="fragments/header-fragment :: header"></div>-->

<!--<div class="container">-->

<!--    <div class="row">-->
<!--        <div class="col-12 mt-3">-->
<!--            <div class="card" sec:authorize="hasAuthority('ADMIN')">-->
<!--                <div class="card-header">-->
<!--                    Primariile mele-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <table class="table">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th scope="col">#</th>-->
<!--                            <th scope="col">Nume</th>-->
<!--                            <th scope="col">Email</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr th:each="sediu : ${primarie}">-->
<!--                            <td th:text="${sediu.id}">Id</td>-->
<!--                            <td th:text="${sediu.name}">Name</td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-12 mt-3">-->
<!--            <div class="card" sec:authorize="hasAuthority('PRIMARIE')">-->
<!--                <div class="card-header">-->
<!--                    Angajati activi-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <table class="table">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th scope="col">#</th>-->
<!--                            <th scope="col">Nume</th>-->
<!--                            <th scope="col">Email</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr th:each="sediu : ${angajati}">-->
<!--                            <td th:text="${sediu.id}">Id</td>-->
<!--                            <td th:text="${sediu.name}">Name</td>-->
<!--                            <td th:text="${sediu.email}">Email</td>-->
<!--                            <td th:text="${sediu.enabled}">Enable</td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->